@page
@model Worklog.Pages.Worklogs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
@*<table class="table">*@
<table class="log-list">
    <thead>
        <tr>
            <th class="col-date">
                @Html.DisplayNameFor(model => model.Log[0].LogDate)
            </th>
            <th class="col-time">
                @Html.DisplayNameFor(model => model.Log[0].TimeSpent)
            </th>
            <th class="col-project">
                @Html.DisplayNameFor(model => model.Log[0].Project)
            </th>
            <th class="col-task">
                @Html.DisplayNameFor(model => model.Log[0].WorkTask)
            </th>
            <th class="col-title">
                @Html.DisplayNameFor(model => model.Log[0].Title)
            </th>
            <th class="col-desc">
                @Html.DisplayNameFor(model => model.Log[0].Description)
            </th>
            <th class="col-edit"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Log) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LogDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSpent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkTask.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LogID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LogID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LogID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
